@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section .message, .score-board, form fieldset, form, header, body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-board [id=computer-label], .score-board [id=user-label] {
  position: absolute;
  top: 50%;
}

header p, header h1 {
  color: #444;
  font-weight: 400;
}

.score-board, form {
  border: 4px solid #fff;
  width: 400px;
  margin: 40px auto;
  font-size: 3em;
  padding: 0.5em;
}

body {
  font-family: "Andada Pro", sans-serif;
  background-color: #24272e;
  color: #fff;
  flex-direction: column;
}

header {
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}
header h1 {
  line-height: 200%;
  font-weight: 100;
}
header p {
  font-size: 1.5em;
  text-align: center;
  padding: 0 5em;
  line-height: 150%;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

form {
  flex-direction: column;
  gap: 10px;
}
form h2 {
  font-size: 0.5em;
  line-height: 150%;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}
form fieldset {
  border: none;
  gap: 20px;
}
form fieldset div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}
form fieldset div label {
  margin: auto 20px;
  font-size: 2rem;
}
form fieldset legend {
  font-size: 1.8rem;
  flex-wrap: nowrap;
  text-align: center;
  -webkit-animation: legend 10s ease-in-out infinite 0.25ms;
          animation: legend 10s ease-in-out infinite 0.25ms;
}
@-webkit-keyframes legend {
  0%, 25%, 55%, 75%, 87%, 97%, 100% {
    transform: scaleX(1);
  }
  26%, 56%, 76% {
    transform: scaleX(1.3) scaleY(0.8);
  }
  31%, 61%, 81% {
    transform: scaleX(0.8) scaleY(1.2);
  }
  76%, 88% {
    transform: scaleX(1.2);
  }
  98% {
    transform: scaleX(1.1);
  }
}
@keyframes legend {
  0%, 25%, 55%, 75%, 87%, 97%, 100% {
    transform: scaleX(1);
  }
  26%, 56%, 76% {
    transform: scaleX(1.3) scaleY(0.8);
  }
  31%, 61%, 81% {
    transform: scaleX(0.8) scaleY(1.2);
  }
  76%, 88% {
    transform: scaleX(1.2);
  }
  98% {
    transform: scaleX(1.1);
  }
}
form div {
  font-size: 1.7em;
  font-family: "Lato", sans-serif;
}

.score-board {
  flex-direction: column;
  position: relative;
}
.score-board .badge {
  font-size: 0.5em;
  padding: 5px;
  background: #e2584d;
  text-transform: uppercase;
}
.score-board [id=user-label] {
  left: -5%;
  transform: translate(-10%, -50%);
}
.score-board [id=computer-label] {
  right: -5%;
  transform: translate(10%, -50%);
}

.definition {
  font-family: "Andada Pro", sans-serif;
  font-size: 3em;
  line-height: 1.5em;
}

section {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
}
section .choice {
  display: inline-block;
  border: 8px double #fff;
  border-radius: 50%;
  margin: auto 10px;
  transition: all 0.3s ease;
  -webkit-animation: choice 2s linear infinite;
          animation: choice 2s linear infinite;
}
@-webkit-keyframes choice {
  50% {
    transform: skewY(1deg) skewX(-1deg) scale(1.1);
  }
}
@keyframes choice {
  50% {
    transform: skewY(1deg) skewX(-1deg) scale(1.1);
  }
}
section .choice i {
  padding: 20px;
  font-size: 3em;
}
section i:nth-child(1) {
  transform: rotate(50deg);
  -webkit-animation: choice1 6s ease-in-out infinite;
          animation: choice1 6s ease-in-out infinite;
}
@-webkit-keyframes choice1 {
  0%, 37%, 67%, 85%, 93% {
    transform: translateY(10px);
  }
  4%, 64%, 88% {
    transform: translateY(7px);
  }
  8%, 24%, 32%, 44% {
    transform: translateY(5px);
  }
  12%, 52%, 60%, 20% {
    transform: translateY(10px);
  }
  16%, 40% {
    transform: translateY(5px);
  }
  28%, 56% {
    transform: translateY(10px);
  }
  48%, 72%, 80%, 96% {
    transform: translateY(10px);
  }
  76%, 100% {
    transform: translateY(15px);
  }
}
@keyframes choice1 {
  0%, 37%, 67%, 85%, 93% {
    transform: translateY(10px);
  }
  4%, 64%, 88% {
    transform: translateY(7px);
  }
  8%, 24%, 32%, 44% {
    transform: translateY(5px);
  }
  12%, 52%, 60%, 20% {
    transform: translateY(10px);
  }
  16%, 40% {
    transform: translateY(5px);
  }
  28%, 56% {
    transform: translateY(10px);
  }
  48%, 72%, 80%, 96% {
    transform: translateY(10px);
  }
  76%, 100% {
    transform: translateY(15px);
  }
}
section .choice:nth-child(2) {
  transform: rotate(50deg);
  -webkit-animation: choice2 1s ease-in-out infinite, choice 2s ease-in-out infinite;
          animation: choice2 1s ease-in-out infinite, choice 2s ease-in-out infinite;
}
@-webkit-keyframes choice2 {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
@keyframes choice2 {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
section .choice:nth-child(3) {
  transform: rotate(10deg);
}
section .message {
  flex-direction: column;
}
section .message p {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 40px 0 0 0;
}
section .message p a {
  font-size: 18px;
  text-transform: lowercase;
  font-family: "Lato", sans-serif;
  color: #ffcc99;
}
section .message p a:hover {
  color: #ffba76;
}

footer {
  min-width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: white;
  color: teal;
}
footer p {
  padding: 10px;
}
footer a {
  text-decoration: none;
  color: teal;
}
footer a:hover {
  color: maroon;
}
footer ion-icon {
  color: maroon;
}

.winningStyles {
  border: 3px solid #4dcc7d;
  background-color: #043507;
  box-shadow: 0 0 20px #043507;
  transition: all 3s ease-in-out 0.25ms;
}

.losingStyles {
  border: 3px solid #c52e2e;
  background-color: #2e0303;
  box-shadow: 0 0 20px #2e0303;
  transition: all 3s ease-in-out 0.25ms;
}

.drawStyles {
  border: 3px solid #444;
  background-color: #ffcc99;
  box-shadow: 0 0 20px #222;
  transition: all 3s ease-in-out 0.25ms;
}

sup {
  color: #d50b3a;
}

.sup-green {
  color: #009f20;
}

@media (max-width: 576px) {
  header p {
    padding: 0 1em;
  }

  .definition {
    font-size: 1.5em;
  }

  section .choice {
    padding: 4px;
  }

  .score-board,
form {
    width: 300px;
    font-size: 2em;
  }

  .score-board [id=user-label] {
    transform: translate(-30%, -50%);
  }

  .score-board [id=computer-label] {
    transform: translate(10%, -50%);
  }

  section .choice i {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  header p {
    padding: 0 1.5em;
  }

  .definition {
    font-size: 2em;
  }

  section .choice {
    padding: 6px;
  }

  .score-board,
form {
    width: 350px;
    font-size: 2.5em;
  }

  .score-board [id=user-label] {
    transform: translate(-20%, -50%);
  }

  .score-board [id=computer-label] {
    transform: translate(20%, -50%);
  }

  section .choice i {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=style.css.map */